.workspace-tab(*ngIf="initialize")
    .workspace-tab-header
        .workspace-tab-header-title
            i.fa-solid.fa-info-circle.mr-2
            span App Info
        .ml-auto
        .text-white.close-btn((click)="workflow.menubar.toggle('appinfo')")
            i.fa-solid.fa-xmark

    .workspace-tab-body-wrapper
        .workspace-tab-body
            .card.mb-4
                .card-header
                    h4.card-title Information

                .card-body.p-4
                    .form-group.row.mb-3(*ngIf="data.id")
                        label.form-label.col-3.col-form-label App ID
                        .col
                            input.form-control(type="text", [(ngModel)]="data.id", disabled="disabled")
                    
                    .form-group.row.mb-3
                        label.form-label.col-3.col-form-label App Title
                        .col
                            input.form-control(type="text", placeholder="App Title", [(ngModel)]="data.title")
                    
                    .form-group.row.mb-3
                        label.form-label.col-3.col-form-label App Version
                        .col
                            input.form-control(type="text", placeholder="1.0.0", [(ngModel)]="data.version")
                    
                    .form-group.row.mb-3
                        label.form-label.col-3.col-form-label App Category
                        .col
                            input.form-control(type="text", placeholder="model", [(ngModel)]="data.category")

                    .form-group.row.mb-3
                        label.form-label.col-3.col-form-label Download App
                        .col
                            button.btn.btn-outline-blue.btn-block((click)="download(data)") Download

            .card.mb-4
                .card-header
                    h4.card-title Logo
                    .ml-auto
                    .btn.btn-outline-danger.mr-2(*ngIf="data.logo", (click)="clear.logo()") Delete
                    .btn.btn-blue((click)="upload.logo()") Upload

                .card-body.p-3.text-center
                    .avatar-area
                        .avatar-container
                            span.avatar([ngStyle]="style.logo")

            .card.mb-4
                .card-header
                    h4.card-title App Description
                    .ml-auto
                    button.btn.btn-blue((click)="toggleEditable()")
                        i.fa-solid.fa-book(*ngIf="descriptionEditable")
                        i.fa-solid.fa-edit(*ngIf="!descriptionEditable")

                .card-body.p-0
                    .descarea.pb-0.pt-3.pr-3.pl-3(*ngIf="!descriptionEditable && data.description", [innerHtml]="showdown(data.description)")
                    nu-monaco-editor(*ngIf="descriptionEditable", [(ngModel)]="data.description", [options]="monaco", [height]="'auto'", (event)="init($event)")