.info-container
    .card.card-info
        .fab((click)="closeInfo()")
            i.fa-solid.fa-xmark
        .card-body.featured.p-4.text-center(style="background-image: url({{item.featured}});")
            .info-box
                span.avatar.avatar-xl.mb-3.avatar-rounded(style="background-image: url({{item.logo}}); border-radius: 24px;")
                h3.m-0.mb-1 {{ item.title }}
                .text-muted {{ item.updated }}
            
        .d-flex(*ngIf="actions")
            a.card-btn(routerLink="/workflow/{{item.id}}")
                span Open
                i.fa-solid.fa-square-arrow-up-right.ml-3
            
            a.card-btn((click)="editInfo()", *ngIf="tab == 'viewer'")
                span Edit
                i.fa-solid.fa-pen-to-square.ml-3

            a.card-btn((click)="viewInfo()", *ngIf="tab == 'editor'")
                span Description
                i.fa-solid.fa-info-circle.ml-3

            a.card-btn(*ngIf="item.status != 'running'", (click)="run()")
                span Run
                i.fa-solid.fa-play.ml-3
            
            a.card-btn(*ngIf="item.status != null && item.status != 'init'", (click)="stop()")
                span Stop
                i.fa-solid.fa-stop.ml-3

    ng-container(*ngIf="tab == 'viewer'")
        .description.p-5(*ngIf="item.description", [innerHtml]="showdown(item.description)")
        .description.p-5.text-center(*ngIf="!item.description")
            h2 No description

        .actions.p-3.border-top.area-round.text-center.d-desktop(*ngIf="full || download")
            .btn.btn-outline-blue.mr-3(*ngIf="full", (click)="cloneInfo()")
                span Clone
                i.fa-solid.fa-clone.ml-3
            .btn.btn-outline-blue(*ngIf="download", (click)="downloadInfo()")
                span Download
                i.fa-solid.fa-download.ml-3
            .btn.btn-outline-red.ml-3(*ngIf="full", (click)="deleteInfo()")
                span Delete
                i.fa-solid.fa-trash.ml-3

    ng-container(*ngIf="tab == 'editor'")
        .description.p-4
            .card.mb-4
                .card-body.p-4
                    .form-group.row.mb-3(*ngIf="item.id")
                        label.form-label.col-3.col-form-label Workflow ID
                        .col
                            input.form-control(type="text", [(ngModel)]="item.id", disabled="disabled")
                    
                    .form-group.row.mb-3
                        label.form-label.col-3.col-form-label Workflow Title
                        .col
                            input.form-control(type="text", placeholder="Workflow Title", [(ngModel)]="item.title")
                    
                    .form-group.row.mb-3
                        label.form-label.col-3.col-form-label Workflow Version
                        .col
                            input.form-control(type="text", placeholder="1.0.0", [(ngModel)]="item.version")
                    
                    .form-group.row.mb-3
                        label.form-label.col-3.col-form-label Category
                        .col
                            input.form-control(type="text", placeholder="sample", [(ngModel)]="item.category")

            .card.mb-4
                .card-header
                    h4.card-title Workflow Description

                .card-body.p-0
                    nu-monaco-editor([(ngModel)]="item.description", [options]="monaco", [height]="'auto'", (event)="init($event)")
                
                .card-body(style="border-top: none; padding-top: 0;")

            .card.mb-4
                .card-header
                    h4.card-title Logo
                    .ml-auto
                    .btn.btn-outline-danger.mr-2(*ngIf="item.logo", (click)="clear.logo()") Delete
                    .btn.btn-blue((click)="upload.logo()") Upload

                .card-body.p-3.text-center(*ngIf="item.logo")
                    .avatar-area
                        .avatar-container
                            span.avatar([ngStyle]="style.logo")

            .card.mb-4
                .card-header
                    h4.card-title Featured Image
                    .ml-auto
                    .btn.btn-outline-danger.mr-2(*ngIf="item.featured", (click)="clear.featured()") Delete
                    .btn.btn-blue((click)="upload.featured()") Upload
                    
                .card-body.p-3.text-center(*ngIf="item.featured")
                    img.featured-image([attr.src]="item.featured")

        .actions.p-3.border-top.area-round.text-center.d-desktop(*ngIf="full || download")
            .btn.btn-outline-blue.ml-3(*ngIf="full", (click)="updateInfo()")
                span Update
                i.fa-solid.fa-floppy-disk.ml-3
    
