.dizest-drawflow((drop)="drop($event)", (dragover)="dragover($event)")
    .workflow-canvas.noselect
        .drawflow-container(*ngIf="isRendered")
            div('#drawflow'='')
    
    .workflow-zoom.area-round
        .workflow-position
            a.text-muted.btn-link.cursor-pointer((click)="init_pos()")
                span (
                span {{-position().x}}
                span.mr-1.ml-1 ,
                span {{-position().y}}
                span )

        .btn-group
            .btn.btn-blue((click)="zoom_out()")
                i.fa-solid.fa-magnifying-glass-minus
            .btn.btn-blue((click)="zoom_reset()")
                i.fa-solid.fa-magnifying-glass
            .btn.btn-blue((click)="zoom_in()")
                i.fa-solid.fa-magnifying-glass-plus

    .workspace-actions.area-round
        a.btn.btn-red((click)="kill()")
            i.fa-solid.fa-power-off
        
        wiz-portal-season-ui-dropdown([menuStyle]="{top: '52px'}")
            ng-template('#button'='')
                .btn.dropdown-toggle.spec-header {{spec}}

            ng-template('#menu'='')
                a.dropdown-item(*ngFor="let item of specs", (click)="changeSpec(item)") {{item.name}}
        
        a.btn.btn-blue((click)="run()", *ngIf="['idle'].includes(status())")
            i.fa-solid.fa-play

        a.btn.btn-red((click)="stop()", *ngIf="!['idle'].includes(status())")
            i.fa-solid.fa-stop

        a.btn.btn-blue((click)="stop('Initialize')", *ngIf="['idle'].includes(status())")
            i.fa-solid.fa-stop

        a.btn.btn-blue((click)="reload()")
            i.fa-solid.fa-refresh
        
        a.btn.btn-blue.if-desktop((click)="update()")
            i.fa-solid.fa-save

.block-page(*ngIf="!workflow || workflow.status == 'stop'")
    wiz-component-loading()

.wiz-modal(*ngIf="isShowDrive")
    .modal
        .modal-dialog.modal-sm(role='document')
            .modal-content
                .modal-body.p-0
                    .table-content
                        table.table.table-vcenter.table-nowrap.card-table.table-hover
                            thead.sticky-top
                                tr
                                    th 이름
                                    th.w-1.text-right 크기
                                    th.w-1.text-right 수정된 날짜

                            tbody
                                tr((click)="openDrive({type : 'folder', id: driveList.parent}); $event.stopPropagation();", *ngIf="driveList.parent !== null")
                                    td
                                        .file-title
                                            i.mr-2.fa-solid.fa-folder
                                            span ..
                                    td.text-muted.text-right
                                    td.text-muted

                                tr(*ngFor="let file of driveList.files", [class.bg-blue-lt]="file.id == driveTarget", (click)="selectDrive(file); $event.stopPropagation();", (dblclick)="openDrive(file); $event.stopPropagation();")
                                    td
                                        .file-title
                                            i.mr-2([ngClass]="icon(file)")
                                            span((click)="openDrive(file); $event.stopPropagation();") {{file.title}}
                                    
                                    td.text-muted.text-right {{file.size}}
                                    td.text-muted {{file.modified}}

                .modal-footer.border-top.pt-2.pb-2.d-flex
                    a.btn((click)="hideDrive()") Cancel
                    .ml-auto
                    a.btn.btn-blue(*ngIf="driveTarget", (click)="selectedDrive()") Select