div(class="flex h-full w-full bg-white")
    div(class="relative flex-1 h-full w-full flex justify-center items-center", (drop)="drop($event)", (dragover)="dragover($event)")
        div('#drawflow'='')

        div(class="absolute bottom-[24px] right-[24px] flex flex-col justify-center items-center", *ngIf="workflow")
            div(class="flex text-gray-500 font-normal mb-1", (click)="workflow.init_pos()")
                span (
                span {{-workflow.position.x}}
                span.mr-1.ml-1 ,
                span {{-workflow.position.y}}
                span )

            span(class="isolate flex rounded-2xl shadow-sm cursor-pointer")
                div(
                    class="relative inline-flex items-center rounded-l-2xl bg-indigo-500 px-3 py-2 text-sm font-semibold text-white hover:bg-indigo-600 focus:z-10", 
                    (click)="zoom_out()")
                    i.fa-solid.fa-magnifying-glass-minus
                .btn.btn-blue(
                    class="relative -ml-px inline-flex items-center bg-indigo-500 px-3 py-2 text-sm font-semibold text-white hover:bg-indigo-600 focus:z-10",
                    (click)="zoom_reset()")
                    i.fa-solid.fa-magnifying-glass
                .btn.btn-blue(
                    class="relative -ml-px inline-flex items-center rounded-r-2xl bg-indigo-500 px-3 py-2 text-sm font-semibold text-white hover:bg-indigo-600 focus:z-10",
                    (click)="zoom_in()")
                    i.fa-solid.fa-magnifying-glass-plus

        div(class="absolute bg-gray-300 bg-opacity-40 top-[12px] lg:top-[24px] p-4 rounded-lg flex gap-x-3", *ngIf="workflow")
            div(
                (click)="exit()",
                class="px-4 py-4 text-md bg-rose-500 text-white cursor-pointer rounded-full hover:bg-rose-600")
                i.fa-solid.fa-power-off

            wiz-portal-season-form-dropdown([menuStyle]="{top: '38px'}", class="relative")
                ng-template('#button'='')
                    div(class="h-[48px] w-32 flex items-center justify-center text-md bg-white text-indigo-500 ring-1 ring-indigo-500 cursor-pointer rounded-full hover:bg-indigo-100 gap-x-2")
                        span {{workflow.data().executable_name}}
                        svg(class="h-5 w-5 text-gray-400", viewBox="0 0 20 20", fill="currentColor", aria-hidden="true")
                            path(fill-rule="evenodd", d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z", clip-rule="evenodd")
                    
                ng-template('#menu'='')
                    div(class="text-[14px] py-1", role="none")
                        a(class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-50", (click)="changeExecutable()") base
                        ng-container(*ngIf="dizest.config && dizest.config.executables")
                            a(*ngFor="let exec of dizest.config.executables", class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-50", (click)="changeExecutable(exec.executable_path)") {{exec.name}}

            div(
                *ngIf="workflow && ['idle'].includes(workflow.status)",
                class="px-4 py-4 text-md bg-indigo-500 text-white cursor-pointer rounded-full hover:bg-indigo-600",
                (click)="run()")
                i.fa-solid.fa-play

            div(
                class="px-4 py-4 text-md bg-indigo-500 text-white cursor-pointer rounded-full hover:bg-indigo-600",
                (click)="stop()")
                i.fa-solid.fa-stop

            div(
                class="hidden lg:block px-4 py-4 text-md bg-indigo-500 text-white cursor-pointer rounded-full hover:bg-indigo-600",
                (click)="workflow.reload()")
                i.fa-solid.fa-refresh

            div(
                class="px-4 py-4 text-md bg-indigo-500 text-white cursor-pointer rounded-full hover:bg-indigo-600",
                (click)="editor.update()")
                i.fa-solid.fa-save

    div(class="h-full flex justify-center items-center bg-white", '#sidebar'='')

div(class="relative z-50", *ngIf="drive.isShow")
    div(class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity")
    div(class="fixed inset-0 z-50 w-screen overflow-y-auto")
        div(class="flex min-h-full items-end justify-center text-center items-center p-0")
            div(class="relative transform overflow-hidden rounded-lg bg-white px-0 pb-5 text-left shadow-xl transition-all my-8 w-full max-w-lg")
                div(class="w-full max-h-[calc(100vh-140px)] overflow-auto min-h-[240px]")
                    wiz-portal-dizest-drive([dizest]="dizest", [config]="drive")
                    
                div(class="mt-4 flex px-4")
                    button(
                        class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto", 
                        (click)="drive.close()") Cancel
                    div(class="flex-1")
                    button(
                        *ngIf="drive.target",
                        class="inline-flex w-full justify-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 sm:ml-3 sm:w-auto", 
                        (click)="drive.select()") Select
