.workspace-area
    .workspace-list
        .workspace-list-header
            .page-header.d-print-none
                .row.align-items-center
                    .col-auto
                        .text-blue.mr-1(style="font-size: 28px;")
                            i.fa-solid.fa-cubes
                    .col
                        h2.page-title Workflow
                        .text-muted
                            ul.list-inline.list-inline-dots.mb-0
                                li.list-inline-item My Workflow

                    .col-auto.actions.area-round.if-desktop
                        input.form-control(style="width: 240px;", placeholder="Enter for search", [(ngModel)]="search.text", (keyup.enter)="load(1)")
                    
                    .col-auto.actions.area-round.if-desktop
                        a.btn.btn-blue((click)="load(1)")
                            i.fa-solid.fa-magnifying-glass
                        a.btn.btn-blue((click)="import()")
                            i.fa-solid.fa-cloud-arrow-up
                        a.btn.btn-blue((click)="create()")
                            i.fa-solid.fa-plus

        .workspace-list-item
            .container.pt-4
                .row.row-deck.row-cards
                    .p-3.col-md-3(*ngFor="let item of list")
                        .workflow-card(
                            [ngClass]="item.id == selected.id ? 'selected' : ''", 
                            [ngStyle]="selectedStyle")
                            wiz-component-card-workflow(
                                [title]="item.title", 
                                [updated]="item.updated", 
                                [logo]="item.logo", 
                                [cover]="item.featured", 
                                [status]="item.status",
                                [link]="'/hub/workflow/item/' + item.id",  
                                (click)="select(item)")
        
        .workspace-list-pagenation(*ngIf="pagenation.end > 1")
            wiz-component-pagenation(
                [current]="search.page", 
                [start]="pagenation.start", 
                [end]="pagenation.end", 
                (pageMove)="pageMove($event)")

    .workspace-tab(*ngIf="selected.id && !created")
        wiz-component-workflow-info(
            [item]="selected", 
            [full]="true", 
            (close)="close($event)", 
            (clone)="clone($event)", 
            (delete)="delete($event)")

    .workspace-tab.area-round.create-tab(*ngIf="created")
        .workspace-tab-body
            .container
                .card.m-4
                    .card-body
                        .form-group.row.mb-3
                            label.form-label.col-3.col-form-label Title
                            .col
                                input.form-control(type="text", placeholder="Workflow Title", [(ngModel)]="created.title")
                        
                        .form-group.row.mb-3
                            label.form-label.col-3.col-form-label Version
                            .col
                                input.form-control(type="text", placeholder="1.0.0", [(ngModel)]="created.version")

                        .form-group.row
                            label.form-label.col-3.col-form-label Visibility
                            .col
                                .form-selectgroup
                                    label.form-selectgroup-item
                                        input.form-selectgroup-input(type="radio", name="visibility", value="public", [(ngModel)]="created.visibility")
                                        span.form-selectgroup-label
                                            i.fa-solid.fa-share-nodes.mr-2
                                            span Public

                                    label.form-selectgroup-item
                                        input.form-selectgroup-input(type="radio", name="visibility", value="private", [(ngModel)]="created.visibility")
                                        span.form-selectgroup-label
                                            i.fa-solid.fa-lock.mr-2
                                            span Private
                
                    .card-footer.d-flex.p-2
                        button.btn(style="border-radius: 16px;", type="button", (click)="cancel()")
                            span Cancel
                        .mr-auto
                        button.btn.btn-blue(style="border-radius: 16px;", type="button", (click)="requestCreate(created)")
                            span Create
