.editor-container
    .editor-menu
        .editor-title
            i.fa-solid.fa-display.mr-2
            span UI Mode

        .mr-3
        .editor-item([class.active]="menu == 'viewer'", (click)="switchMenu('viewer')") VIEWER
        .editor-item([class.active]="menu == 'html'", (click)="switchMenu('html')") HTML
        .editor-item([class.active]="menu == 'js'", (click)="switchMenu('js')") JS
        .editor-item([class.active]="menu == 'css'", (click)="switchMenu('css')") SCSS
        .editor-item([class.active]="menu == 'api'", (click)="switchMenu('api')") API
        
        .ml-auto

        .editor-action((click)="open()")
            i.fa-solid.fa-square-up-right
        .editor-action((click)="viewer()")
            i.fa-solid.fa-retweet
        .editor-action((click)="update()")
            i.fa-solid.fa-floppy-disk

    .context
        ng-container(*ngIf="menu != 'viewer' && monaco")
            nu-monaco-editor([(ngModel)]="tab.flow.app().spec()[menu]", [options]="monaco", [height]="'100%'")
        
        ng-container(*ngIf="menu == 'viewer' && url")
            iframe([src]="url", (load)="onLoad()")