.workspace-tab.codeflow([class.item-selected]="workflow.flow.isSelected()")
    .workspace-tab-header
        .workspace-tab-header-title
            i.fa-solid.fa-code.mr-2
            span Codeflow

        .ml-auto

        .text-white.close-btn.mr-3
            i.fa-solid([class.fa-book-open]="!isDescriptionHidden", [class.fa-book]="isDescriptionHidden", (click)="toggleDescription()")

        .text-white.close-btn((click)="workflow.menubar.toggle('codeflow')")
            i.fa-solid.fa-xmark

    .workspace-tab-body([class.isdragging]="status.drag")
        .codeflow-body(*ngIf="initialized")
            div([sortablejs]="codeflow.data", [sortablejsOptions]="{ animation: 150, handle: '.sortable-handle' }")
                div(*ngFor="let item of codeflow.data; let idx = index", (dragstart)="drag(true, item)", (dragend)="drag(false, item)")
                    .card([class.codeflow-selected]="item.selected()", (click)="item.select()", [attr.id]="'codeflow-' + item.id")
                        .codeflow-header
                            span.badge.badge-sm.mr-1(
                                [class.bg-white]="item.flow().inactive",
                                [class.text-blue]="item.flow().inactive",
                                [class.bg-blue]="!item.flow().inactive",
                                [class.text-white]="!item.flow().inactive",
                                (click)="item.toggle()")
                                span {{item.flow().inactive ? 'manual' : 'auto'}}

                            input([(ngModel)]="item.flow().title", [attr.placeholder]="item.app().title")

                            .ml-auto
                            .btn.btn-sm.btn-white.sortable-handle
                                i.fa-solid.fa-up-down-left-right
                            .btn.btn-sm.btn-white((click)="item.up()")
                                i.fa-solid.fa-arrow-up
                            .btn.btn-sm.btn-white((click)="item.down()")
                                i.fa-solid.fa-arrow-down
                            .btn.btn-sm.btn-blue((click)="item.delete()")
                                i.fa-solid.fa-xmark

                        .codeflow-desc(*ngIf="!isDescriptionHidden")
                            table.table.card-table.table-sm(*ngIf="item.selected()")
                                thead
                                    tr
                                        th.nowrap Note
                                        th.w-1.text-right
                                            button.btn.btn-blue.btn-sm((click)="item.desc.toggle()")
                                                i.fa-solid([class.fa-edit]="!item.desc.isEditable()", [class.fa-book]="item.desc.isEditable()")
                        
                            .codeflow-descarea.p-3.pb-2(*ngIf="!item.desc.isEditable()", [innerHtml]="showdown(item.flow().description)")
                            
                            .codeflow-descarea(*ngIf="item.desc.isEditable()")
                                .item-body
                                    nu-monaco-editor([(ngModel)]="item.flow().description", [options]="monacomd", [height]="'auto'", (event)="init($event)")

                        .codeflow-item
                            table.table.card-table.table-sm
                                thead
                                    tr
                                        th.w-1.nowrap
                                            span.mr-2 [{{item.flow().index}}]
                                            span Code
                            .codeflow-codearea
                                .item-body
                                    nu-monaco-editor([(ngModel)]="item.app().code", [options]="monacopy", [height]="'auto'", (event)="init($event)")
                            
                        .codeflow-logs(*ngIf="item.selected()")
                            .log-container([innerHtml]="item.flow().log")


                    .margin(*ngIf="idx != codeflow.data.length - 1")
                        .btn.btn-secondary.btn-block.btn-sm((click)="create(idx)")
                            i.fa-solid.fa-plus

            .btn.btn-blue.btn-block.add-btn((click)="create()")
                i.fa-solid.fa-plus
            
            .margin-bottom
