.workflow-layout([class.tab-selected]="tab.selected && tab.selected.id", *ngIf="dizest")
    .workflow-nav
        .workflow-toggle((click)="toggleNav()", [class.toggle-hide]="view.hideNav")
            i.fa-solid.fa-caret-left(*ngIf="!view.hideNav")
            i.fa-solid.fa-caret-right(*ngIf="view.hideNav")
        
        .view-content(*ngIf="!view.hideNav")
            .view-header
                .view-title
                    img(src="/brand/logo")

                .clicks
                    .click((click)="switchNav('drive')", [class.active]="view.nav == 'drive'")
                        .action-btn
                            i.fa-solid.fa-hdd(style="width: 22px;")
                        .action-border
                    
                    .click((click)="switchNav('health')", [class.active]="view.nav == 'health'")
                        .action-btn
                            i.fa-solid.fa-heart-pulse(style="width: 20px;")
                        .action-border
            
            .view-body
                .drive-view([hidden]="view.nav != 'drive'")
                    wiz-portal-dizest-drive([dizest]="dizest", [config]="drive")

                ng-container(*ngIf="view.nav == 'health'")
                    wiz-portal-dizest-health([dizest]="dizest")

    .workflow-content
        .view-content
            wiz-portal-season-tab([config]="tab")
        wiz-portal-season-statusbar([config]="statusbar")

    .workflow-sidebar-view('#workflowsidebar'='')

    .workflow-sidebar
        ng-container(*ngFor="let item of sidebar.render()")
            .btn((click)="sidebar.toggle(item.id)", [class.btn-blue]="sidebar.active == item.id")
                i([ngClass]="item.icon")
                .hover-area
                    span {{item.title}}
                    .sidemenu-icon
                        i([ngClass]="item.icon")
        
        .mt-auto

        .btn((click)="sidebar.toggle('terminal')")
            i.fa-solid.fa-terminal
            .hover-area
                span Terminal
                .sidemenu-icon
                    i.fa-solid.fa-terminal

        .btn((click)="sidebar.toggle('setting')", *ngIf="service.auth.session.admin")
            i.fa-solid.fa-cog
            .hover-area
                span Setting
                .sidemenu-icon
                    i.fa-solid.fa-cog

        a.btn(href="/auth/logout")
            i.fa-solid.fa-power-off
            .hover-area
                span Logout
                .sidemenu-icon
                    i.fa-solid.fa-power-off

svg(viewBox="0 0 202.9 45.5").
    <clipPath id="menu" clipPathUnits="objectBoundingBox" transform="scale(0.0049285362247413 0.021978021978022)">
        <path  d="M6.7,45.5c5.7,0.1,14.1-0.4,23.3-4c5.7-2.3,9.9-5,18.1-10.5c10.7-7.1,11.8-9.2,20.6-14.3c5-2.9,9.2-5.2,15.2-7
            c7.1-2.1,13.3-2.3,17.6-2.1c4.2-0.2,10.5,0.1,17.6,2.1c6.1,1.8,10.2,4.1,15.2,7c8.8,5,9.9,7.1,20.6,14.3c8.3,5.5,12.4,8.2,18.1,10.5
            c9.2,3.6,17.6,4.2,23.3,4H6.7z"/>
    </clipPath>

ng-container(*ngIf="shortcuts.length > 0")
    ng-keyboard-shortcuts([shortcuts]="shortcuts")