div(class="w-screen h-screen bg-gray-100 overflow-hidden flex")
    div(
        [ngClass]="isHideDrive ? 'hidden' : (workspace && workspace.selected ? 'hidden lg:flex lg:flex-col' : 'flex flex-col')",
        class="w-full lg:w-[320px]")
        div(class="w-full bg-indigo-500 text-white p-2 py-3 flex justify-center items-center")
            img(src="/brand/logo", class="h-[36px]")
        div(class="w-full flex-1 overflow-hidden")
            wiz-portal-dizest-drive([config]="driveConfig", [dizest]="dizest")
        
    div(
        class="hidden lg:flex fixed w-[16px] h-[64px] bg-slate-200 text-slate-700 top-[calc(50vh-32px)] z-50 items-center justify-center hover:bg-slate-300 cursor-pointer",
        [ngClass]="isHideDrive ? 'left-0' : 'left-[320px]'",
        (click)="toggleDrive()")
        i.fa-solid.fa-caret-left(*ngIf="!isHideDrive")
        i.fa-solid.fa-caret-right(*ngIf="isHideDrive")

    div(
        [ngClass]="workspace && workspace.selected ? 'flex flex-col' : 'hidden lg:flex lg:flex-col'",
        class="relative w-full h-full flex-1 border-x border-gray-200 overflow-hidden")
        div(*ngIf="workspace", class="w-full flex", [sortablejs]="workspace.editors", [sortablejsOptions]="workspaceSortableOption")
            ng-container(*ngFor="let editor of workspace.editors")
                div(class="view-tab w-full max-w-48 flex flex-1 text-sm px-2 py-0.5 bg-gray-200 border-r border-gray-300", [class.bg-white]="editor.path == workspace.current")
                    div(class="flex-1 overflow-hidden whitespace-nowrap text-ellipsis cursor-pointer", (click)="editor.open()") {{editor.name}}
                    div(class="cursor-pointer flex justify-center items-center", (click)="editor.close()")
                        svg(class="animate-spin h-[14px] w-[14px]", viewBox="0 0 24 24", *ngIf="editor.loading")
                            circle(class="opacity-25", cx="12", cy="12", r="10", stroke="currentColor", stroke-width="4")
                            path(class="opacity-75", fill="currentColor", d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z")
                        i.fa-solid.fa-xmark(*ngIf="!editor.loading")

        div(class="relative w-full flex-1 overflow-hidden")
            div(class="w-full h-full overflow-hidden", '#editor'='')
            div(
                *ngIf="editorLoading",
                class="absolute top-0 left-0 w-full h-full bg-black bg-opacity-70 flex justify-center items-center")
                wiz-portal-season-loading-season(className="w-[48px] h-[48px] text-orange-500 animate-spin duration-700")

    div(class="w-[42px] bg-white h-full hidden lg:flex lg:flex-col")
        ng-container(*ngIf="workspace && workspace.selected && workspace.selected.actions")
            div(
                *ngFor="let action of workspace.selected.actions", 
                class="group flex h-[42px] justify-center items-center cursor-pointer", 
                [class.bg-indigo-500]="action.isActive && action.isActive()",
                [class.text-white]="action.isActive && action.isActive()",
                (click)="workspace.selected.onAction(action)")
                i([ngClass]="action.icon")
                div(class="hidden h-[42px] absolute items-center right-0 bg-indigo-500 text-white min-w-[80px] group-hover:flex")
                    span(class="ml-4") {{action.name}}
                    div(class="w-[42px] flex justify-center items-center")
                        i([ngClass]="action.icon")
            
        div(class="flex-1")
        
        div(class="group flex h-[42px] justify-center items-center cursor-pointer", (click)="open('terminal')")
            i.fa-solid.fa-terminal
            div(class="hidden h-[42px] absolute items-center right-0 bg-indigo-500 text-white min-w-[80px] group-hover:flex")
                span(class="ml-4") Terminal
                div(class="w-[42px] flex justify-center items-center")
                    i.fa-solid.fa-terminal
        
        div(class="group flex h-[42px] justify-center items-center cursor-pointer", (click)="open('health')")
            i.fa-solid.fa-heart-pulse
            div(class="hidden h-[42px] absolute items-center right-0 bg-indigo-500 text-white min-w-[80px] group-hover:flex")
                span(class="ml-4") Health
                div(class="w-[42px] flex justify-center items-center")
                    i.fa-solid.fa-heart-pulse
        
        div(class="group flex h-[42px] justify-center items-center cursor-pointer", (click)="open('setting')")
            i.fa-solid.fa-cog
            div(class="hidden h-[42px] absolute items-center right-0 bg-indigo-500 text-white min-w-[80px] group-hover:flex")
                span(class="ml-4") Setting
                div(class="w-[42px] flex justify-center items-center")
                    i.fa-solid.fa-cog

        a(class="group flex h-[42px] justify-center items-center cursor-pointer", href="/api/dizest/auth/logout")
            i.fa-solid.fa-power-off
            div(class="hidden h-[42px] absolute items-center right-0 bg-indigo-500 text-white min-w-[80px] group-hover:flex")
                span(class="ml-4") Logout
                div(class="w-[42px] flex justify-center items-center")
                    i.fa-solid.fa-power-off

ng-container(*ngIf="shortcuts.length > 0")
    ng-keyboard-shortcuts([shortcuts]="shortcuts")