.main-container([class.maximized]="maximized", [class.editmode]="edit")
    .workspace-tab.code-area(*ngIf="edit")
        .workspace-tab-header
            .workspace-tab-header-title
                i.fa-solid.fa-code.mr-2
                span UI Component
            .ml-auto

            .btn-group.mr-3
                .btn([class.btn-blue]="enabled.head", (click)="toggle('head')") head
                .btn([class.btn-blue]="enabled.body", (click)="toggle('body')") body
                .btn([class.btn-blue]="enabled.js", (click)="toggle('js')") js
                .btn([class.btn-blue]="enabled.scss", (click)="toggle('scss')") scss
                .btn([class.btn-blue]="enabled.api", (click)="toggle('api')") api
            
            .close-btn((click)="code(false)")
                i.fa-solid.fa-xmark
        
        .code-area-body
            .code-container(*ngIf="enabled.head")
                .code-wrapper
                    nu-monaco-editor([(ngModel)]="data.head", [options]="monacopug", height="100%")
                .code-label Head (Pug)

            .code-container(*ngIf="enabled.body")
                .code-wrapper
                    nu-monaco-editor([(ngModel)]="data.pug", [options]="monacopug", height="100%")
                .code-label Body (Pug)
            
            .code-container(*ngIf="enabled.js")
                .code-wrapper
                    nu-monaco-editor([(ngModel)]="data.js", [options]="monacojs", height="100%")
                .code-label Javascript

            .code-container(*ngIf="enabled.scss")
                .code-wrapper
                    nu-monaco-editor([(ngModel)]="data.scss", [options]="monacoscss", height="100%")
                .code-label SCSS
            
            .code-container(*ngIf="enabled.api")
                .code-wrapper
                    nu-monaco-editor([(ngModel)]="data.api", [options]="monacopy", height="100%")
                .code-label API

    .workspace-tab.uimode
        .workspace-tab-header
            .workspace-tab-header-title
                i.fa-solid.fa-display.mr-2
                span {{data.title}}
            .ml-auto
            
            .text-white.close-btn.mr-3.if-desktop(*ngIf="!edit", (click)="code(true)")
                i.fa-solid.fa-code

            .text-white.close-btn.mr-3.if-desktop((click)="maximize(!maximized)")
                i.fa-solid(
                    [class.fa-up-right-and-down-left-from-center]='!maximized',
                    [class.fa-down-left-and-up-right-to-center]='maximized')

            .text-white.close-btn.mr-3((click)="render()")
                i.fa-solid.fa-refresh

            .text-white.close-btn((click)="workflow.menubar.toggle('uimode')")
                i.fa-solid.fa-xmark
        
        .workspace-tab-body-wrapper
            .workspace-tab-body.p-0(*ngIf="data.pug && workflow.isnot('running')")
                iframe#uimode-iframe(*ngIf="iframe", (show)="iframe_loaded")
                div(*ngIf="!iframe_loaded", style="width: 100%; height: 100%;")
                    table(style="width: 100%; height: 100%;")
                        tr
                            td.text-center(style="height: 100%; vertical-align: middle;")
                                .spinner-border.text-blue
            
            .workspace-tab-body.p-6.text-center(*ngIf="!data.pug || workflow.is('running')")
                h2(*ngIf="workflow.isnot('running')") Not support UI
                h2(*ngIf="workflow.is('running')") UI is not available while the kernel is running