.app
    .app-search
        input.form-control.search-form(placeholder="enter for search", [(ngModel)]="keyword", (ngModelChange)="search()")
        button.btn.btn-blue.ml-1((click)="import()")
            i.fa-solid.fa-upload
        button.btn.btn-blue.ml-1((click)="create()")
            i.fa-solid.fa-plus

    .app-list
        .no-items.text-center.p-6(*ngIf="workflow.app.list().length == 0")
            i.fa-solid.fa-cube
            .mt-2 No Apps

        ng-container(*ngFor="let item of workflow.app.list()")
            .app-info(*ngIf="match(item, keyword)", [attr.data-id]="item.id", draggable="true", (dragstart)="drag($event, item)", (mouseenter)="hoverin(item)", (mouseleave)="hoverout(item)")
                .avatar-area.avatar-area-sm.mr-3
                    .avatar-container
                        span.avatar([ngStyle]="{ 'background-image' : 'url(' + item.logo + ')'}")
                .title-area
                    input.app-header.mb-1([(ngModel)]="item.title")
                    .app-namespace.text-muted {{item.version}}
                .ml-auto
                    button.btn.btn-white.btn-sm.mr-1((click)="delete(item)")
                        i.fa-solid.fa-xmark
                    button.btn.btn-blue.btn-sm((click)="add(item)")
                        i.fa-solid.fa-plus

    .wiz-modal(*ngIf="modal.isshow")
        .modal
            .modal-dialog.modal-sm(role='document')
                .modal-content
                    .btn-close(type='button', (click)="modal.hide()")
                    .modal-status.bg-danger
                    .modal-body.text-center.py-4
                        h3 Are you sure?
                        .text-muted Do you really want to remove app? What you've done cannot be undone.
                    .modal-footer
                        .w-100
                            .row
                                .col
                                    a.btn.w-100((click)="modal.hide()")
                                        | Cancel
                                        
                                .col
                                    a.btn.btn-danger.w-100((click)="modal.action()")
                                        | Delete