.workspace-tab(*ngIf="initialize")
    .workspace-tab-header
        .workspace-tab-header-title
            i.fa-solid.fa-book.mr-2
            span Workflow Info
        .ml-auto
        .text-white.close-btn((click)="workflow.menubar.toggle('info')")
            i.fa-solid.fa-xmark

    .workspace-tab-body
        .card.mb-4
            .card-body.p-4
                .form-group.row.mb-3(*ngIf="data.id")
                    label.form-label.col-3.col-form-label Workflow ID
                    .col
                        input.form-control(type="text", [(ngModel)]="data.id", disabled="disabled")
                
                .form-group.row.mb-3
                    label.form-label.col-3.col-form-label Workflow Title
                    .col
                        input.form-control(type="text", placeholder="Workflow Title", [(ngModel)]="data.title")
                
                .form-group.row.mb-3
                    label.form-label.col-3.col-form-label Workflow Version
                    .col
                        input.form-control(type="text", placeholder="1.0.0", [(ngModel)]="data.version")

                .form-group.row.mb-3
                    label.form-label.col-3.col-form-label Visibility
                    .col
                        .form-selectgroup
                            label.form-selectgroup-item
                                input.form-selectgroup-input(type="radio", name="visibility", value="private", [(ngModel)]="data.visibility")
                                span.form-selectgroup-label
                                    i.fa-solid.fa-lock.mr-2
                                    span Private
                            label.form-selectgroup-item
                                input.form-selectgroup-input(type="radio", name="visibility", value="public", [(ngModel)]="data.visibility")
                                span.form-selectgroup-label
                                    i.fa-brands.fa-hubspot.mr-2
                                    span Public
                        
                        .mt-2
                            span.text-muted(*ngIf="data.visibility == 'private'") This workflow is for your own use only.
                            span.text-muted(*ngIf="data.visibility == 'public'") This workflow is shared with hub users.

        .card.mb-4
            .card-header
                h4.card-title Logo
                .ml-auto
                .btn.btn-outline-danger.mr-2(*ngIf="data.logo", (click)="data.logo = ''") Delete
                .btn.btn-blue((click)="upload.logo()") Upload

            .card-body.p-3.text-center
                .avatar-area
                    .avatar-container
                        span.avatar([ngStyle]="style.logo")

        .card.mb-4
            .card-header
                h4.card-title Featured Image
                .ml-auto
                .btn.btn-outline-danger.mr-2(*ngIf="data.featured", (click)="data.featured = ''") Delete
                .btn.btn-blue((click)="upload.featured()") Upload
                
            .card-body.p-3
                img(*ngIf="data.featured", [attr.src]="data.featured" style="width: 100%;")
                        
        .card.mb-4
            .card-header
                h4.card-title Workflow Description
                .ml-auto
                button.btn.btn-blue((click)="descriptionEditable = !descriptionEditable")
                    i.fa-solid.fa-book(*ngIf="descriptionEditable")
                    i.fa-solid.fa-edit(*ngIf="!descriptionEditable")

            .card-body.p-0
                .descarea.pb-0.pt-3.pr-3.pl-3(*ngIf="!descriptionEditable && data.description", [innerHtml]="showdown(data.description)")
                

        .card.mb-4
            .card-header
                h4.card-title Delete Workflow

            .card-body
                .btn.btn-block.btn-outline-danger((click)="delete()") Delete