div(class="w-[720px] flex flex-col h-full bg-slate-50")
    div(class="flex w-full items-center bg-indigo-500 text-white px-3 py-2 draggable-handle")
        div(class="flex flex-1 gap-x-2 items-center")
            i.fa-solid.fa-code
            span Code
        div((click)="sidebar.close()", class="cursor-pointer")
            i.fa-solid.fa-xmark
    
    div(class="flex-1 w-full h-full overflow-hidden", *ngIf="workflow")
        div(*ngIf="!sidebar.items || sidebar.items.length == 0", class="w-full p-8")
            div(class="relative block w-full rounded-lg border-2 border-dashed border-gray-300 p-12 text-center")
                i.fa-solid.fa-square-plus(class="text-xl")
                span(class="mt-2 block text-sm font-semibold text-gray-900") Open code from workflow
        
        div('#scrollelement'='', class="w-full h-full overflow-y-auto pb-[30vh]", *ngIf="sidebar.items")
            div(
                class="w-full border-b border-slate-300",
                (click)="select(flow_id)",
                *ngFor="let flow_id of sidebar.items")

                div(class="flex h-[40px] px-3 pr-0 bg-slate-200 text-slate-700 gap-x-2 items-center justify-center")
                    div(*ngIf="workflow.node.selected == flow_id")
                        i.fa-solid.fa-circle-play

                    div(class="w-[80px] overflow-hidden")
                        input(
                            class="text-[14px] w-full p-0 border-0 focus:outline-none focus:shadow-none focus:ring-0 placeholder-gray-400 bg-transparent", 
                            placeholder="Category",
                            [(ngModel)]="flow(flow_id).app().raw().category")
                    
                    div(class="px-2 text-sm text-slate-500 flex h-[24px] items-end") /

                    div(class="flex-1 overflow-hidden")
                        input(
                            class="text-[14px] w-full p-0 border-0 focus:outline-none focus:shadow-none focus:ring-0 placeholder-gray-700 bg-transparent", 
                            [placeholder]="flow(flow_id).title()",
                            [(ngModel)]="flow(flow_id).raw().title")

                    div(class="flex h-[40px]", *ngIf="codeflow[flow_id]")
                        div(
                            class="flex items-center justify-center h-full px-2 text-[14px] cursor-pointer text-slate-700 hover:bg-slate-400",
                            (click)="changeTargetCode(flow_id, 'code')",
                            [class.text-white]="codeflow[flow_id].target == 'code'",
                            [class.bg-slate-500]="codeflow[flow_id].target == 'code'")
                            span Code
                        div(
                            class="flex items-center justify-center h-full px-2 text-[14px] cursor-pointer text-slate-700 hover:bg-slate-400",
                            (click)="changeTargetCode(flow_id, 'html')",
                            [class.text-white]="codeflow[flow_id].target == 'html'",
                            [class.bg-slate-500]="codeflow[flow_id].target == 'html'")
                            span HTML
                        div(
                            class="flex items-center justify-center h-full px-2 text-[14px] cursor-pointer text-slate-700 hover:bg-slate-400",
                            (click)="changeTargetCode(flow_id, 'js')",
                            [class.text-white]="codeflow[flow_id].target == 'js'",
                            [class.bg-slate-500]="codeflow[flow_id].target == 'js'")
                            span JS
                        div(
                            class="flex items-center justify-center h-full px-2 text-[14px] cursor-pointer text-slate-700 hover:bg-slate-400",
                            (click)="changeTargetCode(flow_id, 'css')",
                            [class.text-white]="codeflow[flow_id].target == 'css'",
                            [class.bg-slate-500]="codeflow[flow_id].target == 'css'")
                            span CSS
                        div(
                            class="flex items-center justify-center h-full px-2 text-[14px] cursor-pointer text-slate-700 hover:bg-slate-400",
                            (click)="changeTargetCode(flow_id, 'api')",
                            [class.text-white]="codeflow[flow_id].target == 'api'",
                            [class.bg-slate-500]="codeflow[flow_id].target == 'api'")
                            span API
                        div(
                            (click)="close(flow_id)",
                            class="flex items-center justify-center h-full w-[32px] cursor-pointer text-slate-700 hover:bg-slate-400")
                            i.fa-solid.fa-xmark

                div(class="code-area w-full", *ngIf="codeflow[flow_id] && codeflow[flow_id].show")
                    nu-monaco-editor(
                        [(ngModel)]="flow(flow_id).app().raw()[codeflow[flow_id].target]", 
                        [options]="codeflow[flow_id].monaco", 
                        [height]="'auto'", 
                        (event)="init($event, flow_id)")
