div(class="w-full h-full overflow-auto bg-gray-100 px-6 py-5")
    div(class="mx-auto max-w-[860px]")
        div(class="border-b border-gray-200")
            div(class="sm:flex sm:items-baseline")
                h3(class="text-base font-semibold leading-6 text-gray-900") Health
                div(class="mt-4 sm:ml-10 sm:mt-0")
                    nav(class="-mb-px flex space-x-8")
                        a(
                            class="whitespace-nowrap border-b-2 px-1 pb-4 text-sm font-medium",
                            [ngClass]="currentTab == 'status' ? 'border-indigo-500 text-indigo-600' : 'border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700'",
                            (click)="changeTab('status')") Status
                        a(
                            class="whitespace-nowrap border-b-2 px-1 pb-4 text-sm font-medium",
                            [ngClass]="currentTab == 'workflow' ? 'border-indigo-500 text-indigo-600' : 'border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700'",
                            (click)="changeTab('workflow')") Workflow

        ng-container(*ngIf="currentTab == 'status'")
            div(class="w-full px-8 py-4 mt-5")
                div(class="grid grid-cols-2 gap-4")
                    div(
                        *ngIf="status.deploy.length > 0",
                        class="bg-white p-6 rounded-lg shadow-md max-w-xs mx-auto w-full")
                        h2(class="text-lg font-semibold text-center mb-4") Deployment
                        div(class="space-y-2")
                            div(class="flex items-center text-sm", *ngFor="let item of status.deploy")
                                span(class="font-medium") {{item.key}}
                                span(class="flex-grow border-b border-dotted mx-2")
                                span(*ngIf="!item.format") {{item.value}}
                                span(*ngIf="item.format") {{item.value | number: item.format}}
                                span(*ngIf="item.unit", class="ml-1") {{item.unit}}
                            
                    div(
                        *ngIf="status.system.length > 0",
                        class="bg-white p-6 rounded-lg shadow-md max-w-xs mx-auto w-full")
                        h2(class="text-lg font-semibold text-center mb-4") System Usage
                        div(class="space-y-2")
                            div(class="flex items-center text-sm", *ngFor="let item of status.system")
                                span(class="font-medium") {{item.key}}
                                span(class="flex-grow border-b border-dotted mx-2")
                                span(*ngIf="!item.format") {{item.value}}
                                span(*ngIf="item.format") {{item.value | number: item.format}}
                                span(*ngIf="item.unit", class="ml-1") {{item.unit}}
                
                    ng-container(*ngIf="status.gpu.length > 0")
                        ng-container(*ngFor="let gpu of status.gpu")
                            div(
                                *ngIf="gpu.data.length > 0",
                                class="bg-white p-6 rounded-lg shadow-md max-w-xs mx-auto w-full")
                                h2(class="text-lg font-semibold text-center mb-4") {{gpu.title}}
                                div(class="space-y-2")
                                    div(class="flex items-center text-sm", *ngFor="let item of gpu.data")
                                        span(class="font-medium") {{item.key}}
                                        span(class="flex-grow border-b border-dotted mx-2")
                                        span(*ngIf="!item.format") {{item.value}}
                                        span(*ngIf="item.format") {{item.value | number: item.format}}
                                        span(*ngIf="item.unit", class="ml-1") {{item.unit}}

        ng-container(*ngIf="currentTab == 'workflow'")
            div(class="w-full bg-white px-8 py-4 rounded-2xl mt-5")
                ul(class="divide-y divide-gray-100")
                    li(class="flex items-center justify-between gap-x-3 py-2 px-3", *ngIf="workflows.length == 0")
                        div(class="min-w-0")
                            div(class="flex items-start gap-x-2")
                                p(class="whitespace-nowrap") Nothing
                            div(class="flex items-center gap-x-2 text-xs leading-5 text-gray-500")
                                p(class="whitespace-nowrap") There are no workflows currently running.
                        
                    ng-container(*ngIf="workflows.length > 0")
                        ng-container(*ngFor="let item of workflows")
                            li(class="flex items-center justify-between gap-x-3 py-2 px-3")    
                                div(class="min-w-0")
                                    div(class="flex items-start gap-x-2")
                                        p(class="whitespace-nowrap") {{item.path}}
                                    div(class="flex items-center gap-x-2 text-sm leading-5 text-gray-500")
                                        p(class="whitespace-nowrap") {{item.timestamp}}
                                        p(class="whitespace-nowrap text-xs") /
                                        p(class="whitespace-nowrap") {{item.kernel_id}}
                                div(class="flex flex-none items-center gap-x-2")
                                    a(
                                        class="relative px-2 py-1 text-sm bg-slate-100 text-slate-700 cursor-pointer rounded-full hover:bg-slate-300",
                                        [class.text-red-500]="item.proceed",
                                        (click)="stopWorkflow(item)")
                                        span(
                                            *ngIf="item.proceed", 
                                            class="absolute inset-0 border-3 border-transparent border-t-red-500 rounded-full animate-spin")
                                        i.fa-solid.fa-stop
                            