.workspace-tab.codeflow
    .workspace-tab-header
        .workspace-tab-header-title
            i.fa-solid.fa-code.mr-2
            span Codeflow
        .ml-auto
        .text-white.close-btn((click)="close()")
            i.fa-solid.fa-xmark
    
    .workspace-tab-body-wrapper([class.is_dragging]="is_dragging")
        ng-container(*ngIf="codes().length > 0")
            .workspace-tab-body([sortablejs]="codes()", [sortablejsOptions]="{ animation: 150, handle: '.card-header' }")
                div(
                    *ngFor="let flow of codes()", 
                    [id]="'codeflow-' + flow.id()",
                    (dragstart)="drag(true, item)", 
                    (dragend)="drag(false, item)")

                    .codeflow-body(
                        (click)="select(flow)", 
                        [ngClass]="selected(flow) ? 'selected' : ''")
                        .card-header.area-round
                            .avatar-area.avatar-area-sm.mr-2
                                .avatar-container
                                    span.avatar(style='background-image: {{ flow.app().logo() }};')

                            h2.card-title(style='line-height: 1;') 
                                span {{flow.title()}}
                                br
                                small.version 1.0.0
                            .ml-auto
                            .btn-group.mr-2
                                .btn((click)="flow.tab('code')", [ngClass]="flow.isTab('code') ? 'btn-white': 'btn-gray'") Code
                                .btn((click)="flow.tab('info')", [ngClass]="flow.isTab('info') ? 'btn-white': 'btn-gray'") Info
                                .btn((click)="flow.tab('note')", [ngClass]="flow.isTab('note') ? 'btn-white': 'btn-gray'") Note
                            button.btn.btn-sm.btn-white.btn-codeflow-close.mr-2((click)='find(flow)')
                                i.fa-solid.fa-location-crosshairs
                            button.btn.btn-sm.btn-red.btn-codeflow-close((click)='closeCode(flow)')
                                i.fa-solid.fa-xmark
                        
                        .progress.progress-sm(*ngIf="['running'].includes(flow.status())")
                            .progress-bar.bg-blue.progress-bar-indeterminate
                            
                        .code-editor.pb-0.bg-white(*ngIf="flow.isTab('code')")
                            nu-monaco-editor([(ngModel)]="flow.app().spec().code", [options]="monacopy", [height]="'auto'", (event)="init(flow, $event)")
                            .code-editor-overlay
                        
                        .info-editor.bg-white(*ngIf="flow.isTab('info')")
                           wiz-portal-dizest-codeflow-appinfo([app]="flow.app()")
                        
                        .info-editor.bg-white(*ngIf="flow.isTab('note')")
                            wiz-portal-dizest-codeflow-note([app]="flow")
                        
                    .codeflow-debug-area(*ngIf="flow.selected() && flow.log() && flow.isTab('code')")
                        pre.debug-message(*ngIf="flow.log()", [innerHtml]="flow.log()")
        
        ng-container(*ngIf="codes().length == 0")
            .no-item
                .upload
                    .text.text-drop.text-center
                        span open code from workflow
                    .shadow
