.drive-tree(
    *ngIf="!isCreateFile",
    (drop)="treeConfig.rootNode().drop($event)",
    (dragend)="treeConfig.rootNode().dragend($event)", 
    (dragover)="treeConfig.rootNode().dragover($event)")

    .container.p-3
        ng-container(*ngIf="treeConfig.rootNode && treeConfig.rootNode().newItem")
            .tree-node
                i.tree-icon.fa-regular.fa-folder.mr-2
                .tree-node-title
                    input.form-control.form-control-sm([(ngModel)]="treeConfig.rootNode().newItem.title", placeholder="폴더명", (keyup.enter)="createFolder(treeConfig.rootNode())")
                i.icon-action-always.fa-solid.fa-xmark((click)="cancelCreate(treeConfig.rootNode()); $event.stopPropagation();")
                i.icon-action-always.fa-solid.fa-check((click)="createFolder(treeConfig.rootNode()); $event.stopPropagation();")

        wiz-portal-season-viewer-tree([config]="treeConfig")
            ng-template('#fileTemplate'='', let-data='')
                .tree-node-container
                    .tree-node((click)="data.select(); $event.stopPropagation();", [class.active]="data.isActive()") 
                        ng-container(*ngIf="data.type == 'file'")
                            i.tree-icon.mr-1([ngClass]="icon(data)", (click)="data.editable = !data.editable; $event.stopPropagation(); service.render()")
                        ng-container(*ngIf="data.type == 'folder'")
                            i.tree-icon.mr-1([ngClass]="icon(data)", (click)="data.editable = !data.editable; $event.stopPropagation(); service.render()")

                        .tree-node-title
                            span(*ngIf="!data.editable") {{data.title}}
                            input.form-control.form-control-sm([(ngModel)]="data.rename", placeholder="폴더명", (keyup.enter)="data.update();", *ngIf="data.editable", (click)="$event.stopPropagation();")
                        
                        ng-container(*ngIf="data.type == 'folder'")
                            i.icon-action.fa-solid.fa-plus((click)="createFile(data); $event.stopPropagation();")
                            i.icon-action.fa-solid.fa-folder-plus((click)="create(data); $event.stopPropagation();")
                            i.icon-action.fa-solid.fa-arrow-up-from-bracket((click)="upload(data); $event.stopPropagation();")
                        i.icon-action.fa-solid.fa-trash-can((click)="delete(data); $event.stopPropagation();")
                        i.icon-action.fa-solid.fa-download((click)="download(data); $event.stopPropagation();")

                    ng-container(*ngIf="data.newItem")
                        .tree-root
                            .tree-node
                                i.tree-icon.fa-regular.fa-folder.mr-2
                                .tree-node-title
                                    input.form-control.form-control-sm([(ngModel)]="data.newItem.title", placeholder="폴더명", (keyup.enter)="createFolder(data)")
                                i.icon-action-always.fa-solid.fa-xmark((click)="cancelCreate(data); $event.stopPropagation();")
                                i.icon-action-always.fa-solid.fa-check((click)="createFolder(data); $event.stopPropagation();")
    
    .drive-menu
        .menu-item((click)="upload(treeConfig.rootNode())")
            i.fa-solid.fa-arrow-up-from-bracket
        .menu-item((click)="createFile(treeConfig.rootNode())")
            i.fa-solid.fa-plus
        .menu-item((click)="create(treeConfig.rootNode())")
            i.fa-solid.fa-folder-plus
        .menu-item((click)="treeConfig.rootNode().refresh()")
            i.fa-solid.fa-retweet
        .menu-item((click)="toggleShowHidden()")
            i.fa-solid.fa-eye(*ngIf="showHidden")
            i.fa-solid.fa-eye-slash(*ngIf="!showHidden")

.drive-tree.p-3.pt-4.pb-4(*ngIf="isCreateFile")
    .card
        .card-body.p-3
            .form-group.row.mb-3
                label.form-label.col-3.col-form-label Type
                .col
                    .form-selectgroup
                        label.form-selectgroup-item
                            input.form-selectgroup-input(type='radio', name='file-type', value='file', [(ngModel)]="createFileData.type")
                            span.form-selectgroup-label.pt-1.pb-1 File
                        label.form-selectgroup-item
                            input.form-selectgroup-input(type='radio', name='file-type', value='workflow', [(ngModel)]="createFileData.type")
                            span.form-selectgroup-label.pt-1.pb-1 Workflow

            .form-group.row
                label.form-label.col-3.col-form-label Name
                .col
                    input.form-control(type="text", [(ngModel)]="createFileData.title", [placeholder]="createFileData.type == 'workflow' ? 'Workflow Name' : 'code.py'")
            
        .card-footer.d-flex.p-2
            button.btn.btn-outline-blue((click)="cancelCreateFile()") Cancel
            .ml-auto
            button.btn.btn-blue((click)="createFile()") Create
