.wiz-content-layout
    .wiz-content-heading
        .col-auto.pl-3.pr-2
            .text-blue.mr-1(style="font-size: 28px;")
                i.fa-solid.fa-cogs
        .col
            h2.page-title System
            .text-muted
                ul.list-inline.list-inline-dots.mb-0
                    li.list-inline-item configure DIZEST system

    .wiz-content-body(*ngIf="data.config")
        .content-main.area-round
            .container(style="max-width: 720px;")
                .card
                    .card-header
                        h4.card-title UI Configuration

                    .card-body.p-4
                        .form-group.row
                            label.form-label.col-3.col-form-label Hub Title
                            .col
                                input.form-control(type="text", placeholder="Hub Title", [(ngModel)]="data.config.title")
                        
                        .mb-3
                        
                        .form-group.row
                            label.form-label.col-3.col-form-label Conda Path
                            .col
                                input.form-control(type="text", placeholder="/opt/anaconda3", [(ngModel)]="data.config.conda")
                        
                        .mb-3

                        .form-group.row
                            label.form-label.col-3.col-form-label Logo
                            .col.text-left
                                .text-center(style="padding: 0.75rem 0; max-width: 280px; width: 100%;")
                                    img([attr.src]="data.config.logo ? data.config.logo : '/assets/brand/dizest-hub.png'",  style="height: 32px; margin: 5px 0;")

                            .col-2.d-desktop
                                .btn.btn-outline-blue.btn-block((click)="uploadLogo()") Upload
                                .btn.btn-outline-danger.btn-block.mt-2(*ngIf="data.config.logo", (click)="data.config.logo = ''; service.render();") Delete

                        .mb-3

                        .form-group.row
                            label.form-label.col-3.col-form-label Icon
                            .col.text-left
                                .text-center
                                    img(*ngIf="data.config.icon", [attr.src]="data.config.icon", style="height: 48px; width: 48px;")

                            .col-2.d-desktop
                                .btn.btn-outline-blue.btn-block((click)="uploadIcon()") Upload
                                .btn.btn-outline-danger.btn-block.mt-2(*ngIf="data.config.icon", (click)="data.config.icon = ''; service.render();") Delete
                
                    .card-footer.d-flex.p-2
                        .ml-auto
                        a.btn.btn-blue((click)="update()") Update