.workspace-tab.area-round(*ngIf="initialize")
    .workspace-tab-header
        .workspace-tab-header-title
            i.fa-solid.fa-book.mr-2
            span Workflow Info
        .ml-auto
        .text-white.close-btn((click)="close()")
            i.fa-solid.fa-xmark

    .workspace-tab-body-wrapper
        .workspace-tab-body
            .card.mb-4
                .card-body.p-4
                    .form-group.row.mb-3(*ngIf="data.id")
                        label.form-label.col-3.col-form-label Workflow ID
                        .col
                            input.form-control(type="text", [(ngModel)]="data.id", disabled="disabled")
                    
                    .form-group.row.mb-3
                        label.form-label.col-3.col-form-label Workflow Title
                        .col
                            input.form-control(type="text", placeholder="Workflow Title", [(ngModel)]="data.title")
                    
                    .form-group.row.mb-3
                        label.form-label.col-3.col-form-label Workflow Version
                        .col
                            input.form-control(type="text", placeholder="1.0.0", [(ngModel)]="data.version")
                    
                    .form-group.row.mb-3
                        label.form-label.col-3.col-form-label Category
                        .col
                            input.form-control(type="text", placeholder="sample", [(ngModel)]="data.category")

                    .form-group.row.mt-4
                        .col
                            button.btn.btn-outline-blue.btn-block((click)="download(data)") Download

            .card.mb-4
                .card-header
                    h4.card-title Workflow Description
                    .ml-auto
                    button.btn.btn-blue((click)="toggleEditable()")
                        i.fa-solid.fa-book(*ngIf="descriptionEditable")
                        i.fa-solid.fa-edit(*ngIf="!descriptionEditable")

                .card-body.p-0
                    .descarea.pb-0.pt-3.pr-3.pl-3(*ngIf="!descriptionEditable && data.description", [innerHtml]="showdown(data.description)")
                    nu-monaco-editor(*ngIf="descriptionEditable", [(ngModel)]="data.description", [options]="monaco", [height]="'auto'", (event)="init($event)")
                
                .card-body(style="border-top: none; padding-top: 0;")

            .card.mb-4
                .card-header
                    h4.card-title Logo
                    .ml-auto
                    .btn.btn-outline-danger.mr-2(*ngIf="data.logo", (click)="clear.logo()") Delete
                    .btn.btn-blue((click)="upload.logo()") Upload

                .card-body.p-3.text-center(*ngIf="data.logo")
                    .avatar-area
                        .avatar-container
                            span.avatar([ngStyle]="style.logo")

            .card.mb-4
                .card-header
                    h4.card-title Featured Image
                    .ml-auto
                    .btn.btn-outline-danger.mr-2(*ngIf="data.featured", (click)="clear.featured()") Delete
                    .btn.btn-blue((click)="upload.featured()") Upload
                    
                .card-body.p-3.text-center(*ngIf="data.featured")
                    img.featured-image([attr.src]="data.featured")
